.child {
    background-color: antiquewhite;
}
.child {
    border: 2px solid;
    width: 450px;
    height: 560px;
    margin-left: 10px;
    color: coral;
}
form {
    margin-top: 10px;
    text-align: center;
}
h2 {
    color: cadetblue;
}
label {
    /* margin-top: 10px; */
    margin-left: 15px;
}
button {
    margin-left: 35px;
    background-color: darkgray;
}
input[type="text"] {
    margin-right: 31px;
    padding: 1px;
    width: 190px;
    background-color: cadetblue;
}
select {
    margin-right: 31px;
    padding: 3px;
    width: 190px;
    background-color: cadetblue;
}